h1{color: red;
text-align:center;
}
h2{
margin-left: 60%
}
p{color: yellow;
text-indent: 32px;
font-size: 16px;
line-height: 16px;
}
a{color:yellow;
  background: black}
body{
    background-image: url("/Users/tianzhaohaha/Documents/神啊/风景/68079722_p0.jpg");

  }
